
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Please sign in</title>
</head>
<body>
<div>
    <form method="post" action="/login">
        <h2>Please sign in</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="j_username" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="j_password" placeholder="Password" required>
        </p>
        <button type="submit">Login in</button>
    </form>
</div>
</body>
</html>


