<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<p>USERS:</p>
<a th:href="@{/logout}">Logout</a>
<hr/>
<br/>
<div th:each="user : ${users}">
    <a th:href="@{/{id}(id=${user.getUserId()})}"
       th:text="${user.getUserId() + ', ' + user.getUserName()}">user</a>
    <br/>
    <br/>

    <form th:method="DELETE" th:action="@{/{id}(id=${user.getUserId()})}">
        <input type="submit" value="Delete!"/>
    </form>
    <a th:href="@{/{id}/update(id=${user.getUserId()})}">Edit</a>
    <br/>
    <hr/>

</div>

<a href="/new">Create new user</a>

</body>
</html>